@charset "UTF-8";
/* CSS Document */

body {
	color: #333333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.wrap {
	max-width: 960px;
	/*min-width: 320px;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 300px;
	margin-top: 50px;
}

code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
	border-radius: 3px 3px 3px 3px;
    color: #DD1144;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
}
hr {
	margin-bottom:20px;
}
.gallery {
	max-width: auto;
	min-height: 140px;
	background-color: #E4E4E4}
.gallery img {
	margin: 20px;
	float: left;
}
.text {
	clear: both;
}
figcaption {
	font-size: 12px;
	font-style: italic;
	margin-top: -10px;
	}